@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
} 
/*hamburger*/

html body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*header section*/
.active a, header nav ul li a:hover {
    transition: 0.5s ease; 
    color: #A37A4E;
}
.heading{
    padding: 30px;
    font-size: 30px;
    text-align: center;
}
nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    align-items: center;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: 15px;
}
nav a{
    width: 15%;
}
nav a img{
    width: 100%;
}
.nav-links li a{
    color: black;
}
.header-cover{
    background-image: url("/assets/img/cover-header.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    text-align: center;
}
.header-cover h1{
    overflow: hidden;
    letter-spacing: 7px;
    padding-top: 350px;
    font-size: 70px;
    color: white;
}
.book-now{
    margin: 30px auto;
    width: 200px;
    padding: 10px;
    background-color: #A37A4E;
    border: 2px solid #856441;
    border-radius: 4px;
    color: white;
    box-shadow: inset 0 0 0 0 #856441;
    transition: ease-in-out 0.3s;
}
.book-now:hover{
    box-shadow: inset 200px 0 0 0 #856441;
}
/*about section*/
.about-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-section img{
    width: 45%;
}
.about-text{
    line-height: 2;
    text-overflow: hidden;
    width: 40%;
}
/*services section*/
.services-section{
    background-image: url("/assets/img/services-fixed.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: rgba(0, 0, 0, 0.4);
}
.services-content{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    padding: 20px;
}
.services-block{
    padding: 30px;
    border-radius: 7px;
    background-color: white;
}
.services-block p{
    text-align: left;  
}
.services-block h3{
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 1px;
}
/*image gallery*/
.img-gallery{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.img-gallery img{
    width: 100%;
    cursor: pointer;
}
.img-gallery img:hover{
    transform: scale(1.1);
    transition: 1s;
}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 600px ;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
/*book now section*/
.book{
    padding: 40px 60px;
}
.book-form{
    display: grid;
}
.form-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.book-form input[type="submit"]{
    margin: 18px 0 0 0;
    background-color: #A37A4E;
    border: 2px solid #856441;
    border-radius: 4px;
    color: #fff;
    width: 200px;
    border: none;
    padding: 15px;
    font-size: 16px;
    margin: auto;
    box-shadow: inset 0 0 0 0 #856441;
    transition: ease-in-out 0.3s;
}
.book-form input[type="submit"]:hover{
    box-shadow: inset 200px 0 0 0 #856441;
}
.book-form label, .book-form input{
    width: 100%;
}
.book-form label{
    font-weight:  600;
    word-spacing: 5px;
    padding-bottom: 8px;
}
.book-form input:not(.btn){
    margin: 4px 0 16px 0;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 17px;
    border: 1px solid #ccc;
}
.book-form input:focus{
    outline: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
@media(min-width: 768px){
    .book-form{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
}
@media(min-width: 1170px){
    .book-form{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width: 1370px){
    .book-form{
        grid-template-columns: 2fr 2fr 1fr 1fr 1fr 2fr;
    }
    .book{
        height: 40vh;
        display: grid;
    }
}
@media(max-width: 500px){
    .book{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.contact{
    margin-top: 20px;
    background-color: #EDEDED ;
    padding: 30px;
}
/*contact section*/
.contact-section{
    width: 100%;
    display: grid;
    align-items: center;
}
.contact-info{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
}
.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
}
.contact-map iframe{
    width: 100%;
    height: 100%;
}
.contact-form{
    width: 100%;
    height: auto;
    padding: 30px;
    flex: 50%;
}
.contact-form-txt{
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-txt::placeholder{
    color: #aaa;
}
.contact-form-txtarea{
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    resize: none;
}
.contact-form-txtarea::placeholder{
    color: #aaa;
}
.contact-form-btn{
    width: 100%;
    border: 2px solid #856441;
    outline: none;
    background-color: #A37A4E;
    padding: 10px 0;
    cursor: pointer;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #856441;
    transition: ease-in-out 0.3s;
}
.contact-form-btn:hover{
    box-shadow: inset 530px 0 0 0 #856441;
}
/*footer*/